:root {
	--color-brand: #8601e7;
	--color-heading: #263238;
	--color-body: #263238;
	--color-white: #fff;
	--color-black: #000;
	--color-dark-gray: #263238;
	--color-gray: #546e7a;
	--color-light-gray: #f8f8f8;

	--color-gray-100: #f7fafc;
	--color-gray-200: #edf2f7;
	--color-gray-300: #e2e8f0;
	--color-gray-400: #cbd5e0;
	--color-gray-500: #a0aec0;
	--color-gray-600: #718096;
	--color-gray-700: #4a5568;
	--color-gray-800: #2d3748;
	--color-gray-900: #1a202c;
	--box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	--box-shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
	0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/*block menu logo*/
.apoc-logo{
	content:url('../images/apoc-app-icon.svg') !important;
}

.apoc-custom-block .components-external-link .icon{
	padding-left: 2px;
}

.apoc-custom-block > fieldset > form > input{
	flex: 1 1 auto;
	margin: 0 8px 0 0;
	font-size: 13px;
}

.apoc-contents-viewer {
	height: 450px;
	margin-bottom: 20px;
	position: relative;
}


